@page
@model RegisterModel
<div>
    <form method="post">
        <input type="Text" placeholder="Enter Name" class="form-control" asp-for="Name"/>
        <input type="Text" placeholder="Age" class="form-control" asp-for="Age" />
        <button type="Submit" class="btn btn-primary">Save</button>
    </form>
</div>